test_data/**
results/**
results_*/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
fungi_*
busco_*
.tests/**/run_fungi_odb12/**
.tests/**/run_basidiomycota_odb12/**
basidiomycota_*
benchmark/**